@font-face {
  font-family: 'akrobat';
  src: url('../fonts/akrobat-light-webfont.woff2') format('woff2'),
    url('../fonts/akrobat-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'akrobat';
  src: url('../fonts/akrobat-regular-webfont.woff2') format('woff2'),
    url('../fonts/akrobat-regular-webfont.woff') format('woff');
  font-weight: normal;/*500*/
  font-style: normal;

}

@font-face {
  font-family: 'akrobat';
  src: url('../fonts/akrobat-bold-webfont.woff2') format('woff2'),
    url('../fonts/akrobat-bold-webfont.woff') format('woff');
  font-weight: bold;
  /*700*/
  font-style: normal;

}

@font-face {
  font-family: 'akrobat';
  src: url('../fonts/akrobat-black-webfont.woff2') format('woff2'),
    url('../fonts/akrobat-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;

}