.partners {
  padding-top: 70px;

  &__title {
    font-weight: 900;
    font-size: 57px;
    line-height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #D52E1E;
  }

  &__divide {
    display: flex;
    justify-content: space-between;
  }

  &__divide {
    @media screen and (max-width: 572px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    @media screen and (max-width: 572px) {
      width: calc(100% / 2 - 20px);
    }
  }
}