.share {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  padding-left: 27px;
  margin-bottom: 35px;

   &__vk{
     padding-left: 14px;
   }

   &__insta{
     padding-left: 7px;
   }
}